* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.top-bar {
    text-align: center;
    padding: 10px;
    color: #e3c396;
    border-bottom: 1px solid #eee;
    border: 2px solid rgb(240, 208, 111);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    border: 1px solid rgb(237, 197, 122);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid orange;
    background-color: white;

}

.logo {
    border: 2px solid rgb(224, 194, 94);
}

.logo img {
    height: 55px;
    width: 270px;
    height: 80px;
}

.auth-buttons {
    gap: 10px;
}

.auth-buttons .login-btn {
    padding: 7px 14px;
    border: 1px solid #6b2f1a;
    color: #a74b2a;
    text-decoration: none;
    background-color: #6b2f1a;
    border-radius: 4px;
    font-size: 14px;
    background-color: transparent;
}


.auth-buttons .signup-btn {
    padding: 7px 14px;
    background-color: #6b2f1a;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    border: none;
}

.auth-buttons .login-btn:hover {
    background-color: #f2b091;
}

.auth-buttons .signup-btn:hover {
    opacity: 0.9;
}


nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #dfad58;
    font-size: 14px;
}

.nav-actions button {
    margin-left: 10px;
    padding: 5px 12px;
    border-radius: 25px;
    border: 1px solid #b57b2a;
    background: transparent;
    cursor: pointer;
    border-radius: 40px;
}

.nav-action{
    padding: 30px;
}

.hero {
    height: 85vh;
    background: url("images/hero.jpg") no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
}

.hero-content {
    color: white;
    max-width: 420px;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-btn {
    margin-top: 20px;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}

.full-image img {
    width: 100%;
    height: auto;
    display: block;
}

.about {
    padding: 50px 40px;
    text-align: center;
}

.about h2 {
    color: #b57b2a;
    font-size: 32px;
}

.subtitle {
    color: #555;
    margin: 15px 0 60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fff;
    margin: 8% auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #8b4513;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.switch {
    color: #8b4513;
    cursor: pointer;
    font-weight: bold;
}


.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    align-items: center;
}

.about-image img {
    width: 500px;
    height: 400px;
}

.about-grid h3 {
    color: #b57b2a;
    margin-bottom: 10px;
}

.hidden {
    opacity: 0;
    transform: translateY(60px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
}


.ourproducts {
    width: 1520px;
    height: 600px;
    background-color: rgb(253, 213, 220);
    padding: 00px;
}

.products {
    padding: 60px 80px;
    text-align: center;
}

.products h2 {
    font-size: 46px;
    margin-bottom: 40px;
    color: #c79a3b;
    text-decoration: double;
}

.product-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    background: #fff;
    width: 300px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.product-card p {
    margin-top: 12px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #6b4a2d;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.gift-section {
    padding: 80px 100px;
}

.gift-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.gift-text {
    max-width: 45%;
}

.gift-text h2 {
    font-size: 40px;
    color: #7a4a2e;
    margin-bottom: 20px;
    line-height: 1.2;
}

.gift-text p {
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
    line-height: 1.6;
}

.gift-text button {
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    background-color: #b7d6c5;
    color: #2f4f4f;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gift-text button:hover {
    background-color: #9fc4b0;
}

.gift-image {
    max-width: 50%;
    padding: 12px;
}

.gift-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

@media (max-width: 900px) {
    .gift-content {
        flex-direction: column;
    }

    .gift-text,
    .gift-image {
        max-width: 100%;
    }

    .gift-text h2 {
        font-size: 32px;
    }
}

.cake-tea-section {
    padding: 80px 100px;
    display: flex;
    align-items: center;
    gap: 80px;
    background-color: rgb(248, 188, 198);
    ;
}

.cake-tea-image {
    flex: 1;
    border: 2px solid #c9a56a;
    padding: 10px;
}

.cake-tea-image img {
    width: 100%;
    height: auto;
    display: block;
}

.cake-tea-content {
    flex: 1;
}

.cake-tea-content h2 {
    font-size: 40px;
    color: #7a4a2e;
    margin-bottom: 20px;
}

.cake-tea-content p {
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
    line-height: 1.6;
}

.cake-tea-content button {
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    background-color: #b7d6c5;
    color: #2f4f4f;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.cake-tea-content button:hover {
    background-color: #9fc4b0;
}

.best-sellers-section {
    padding: 50px 80px;
    background-color: rgb(250, 237, 177);
}

.best-sellers-section h2 {
    text-align: center;
}

.section-title {
    font-size: 36px;
    color: #7a4a2e;
    margin-bottom: 50px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
}

.product-card {
    cursor: pointer;
}

.product-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.product-name {
    margin-top: 12px;
    font-size: 15px;
    color: #7a4a2e;
    letter-spacing: 0.5px;
    font-size: 24px;
    text-align: center;
}


.product-card:hover img {
    transform: scale(1.03);
    transition: 0.3s ease;
}


@media (max-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products-grid {
        grid-template-columns: 1fr;
    }

    .best-sellers-section {
        padding: 50px 30px;
    }
}

.cta-image img {
    width: 280px;
}


.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 100px 80px;
    background-color: #cfe6f5;
}

.cta-content {
    max-width: 500px;
    text-align: center;
    justify-content: center;
}

.cta-title {
    font-size: 38px;
    color: #7a4a2e;
    margin-bottom: 20px;
}

.cta-text {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 14px 28px;
    background-color: #e6b8a2;
    color: #7a4a2e;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.cta-button:hover {
    background-color: #d9a48c;
}

.footer-section {
    background-color: #e3cce5;
    padding: 80px 60px 40px;
    font-family: Arial, sans-serif;
}

.footer-logo {
    text-align: center;
    margin-bottom: 50px;
}

.footer-logo img {
    width: 180px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-bottom: 50px;
}

.footer-column a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    margin-bottom: 12px;
}

.footer-column p {
    font-size: 14px;
    margin-bottom: 10px;
}

.social-icons a {
    margin-right: 12px;
    font-size: 18px;
    text-decoration: none;
}

.newsletter-box {
    display: flex;
    gap: 10px;
}

.newsletter-box input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #aaa;
    outline: none;
}

.footer-column-stores {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.newsletter-box button {
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    background-color: #e6b8a2;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #bbb;
    padding-top: 25px;
}

.contact-row {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    margin-bottom: 15px;
}

.contact-item {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .contact-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}

.stores .disclaimer {
    font-size: 12px;
    color: #444;
    line-height: 1.6;
    margin-top: 15px;
}

.product-card {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nav-actions {
    display: flex;
    gap: 10px;
    /* space between buttons */
    align-items: center;
}

.nav-actions button {
    padding: 10px 16px;
    font-size: 14px;
    background-color: #f7cea2;
    /* yellow-ish like Theobroma */
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.nav-actions button:hover {
    background-color: #f9c194;
}
